imageio
psutil
flask
requests
oss2
opencv-python
Pillow
pyautogui
pygetwindow
pywin32
uiautomation
paddlepaddle-gpu==2.6.2
paddleocr==2.8.1
nvidia-cudnn-cu12==8.9.7.29
nvidia-cublas-cu11==11.11.3.6
numpy<2.0.0
faster-whisper==1.2.1
