imageio
psutil
flask
requests
oss2
opencv-python
Pillow
pyautogui
pygetwindow
pywin32
uiautomation
paddlepaddle-gpu==2.6.2
paddleocr==2.8.1
nvidia-cudnn-cu12==8.9.7.29
nvidia-cublas-cu11==11.11.3.6
numpy<2.0.0
faster-whisper==1.2.1
rapidocr-onnxruntime
python-telegram-bot>=20.0
yt-dlp
pymongo
httpx>=0.27.0
pydub>=0.25.1
imageio-ffmpeg>=0.5.1
piper-tts>=1.2.0
vietnormalizer>=0.2.0
